.navbar-nav{
  font-family:'Goudy Old Style',sans-serif;
  text-decoration:white;
  font-weight: bolder;
  color: black;
}
#nav-bar
{
	background-color:#a37989;
	position:static;
	top:0;
	z-index:10;
}
.nav-link:hover {
	background-image: url('C:\Users\hp\Desktop\banking-system-main\IMG_15022021_130857_(1600_x_600_pixel) (2).jpg');
}
.nav-link {
	font-family:'Goudy Old Style',sans-serif;
}
a{
	color:white;
}

